.itsAllOver {
    /* display: flex; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire container */
    vertical-align: center;
    text-align: center;
    animation: openFromCenter 3.5s ease forwards;
}